---
name: updownio
description: Client library for updown.io API.
author: Adrien Delle Cave
author_email: pypi@doowan.net
copyright: '{{ env('PROJECT_COPYRIGHT_YEAR') }} Adrien Delle Cave'
release: '{{ env('PROJECT_RELEASE') }}'
version: '{{ env('PROJECT_VERSION') }}'
license: License GPL-3
url: https://github.com/decryptus/updownio
python_requires:
  - '>=3.10'
classifiers:
  - 'License :: OSI Approved :: GNU General Public License v3 (GPLv3)'
  - 'Programming Language :: Python :: 3'
  - 'Programming Language :: Python :: 3 :: Only'
  - 'Topic :: System :: Monitoring'
